.itemsWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemStyle{
    border: 1px solid black;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.footerM{
    background: blue;
}
.footerG{
    background: pink;
}

.itemsWrapper:hover{
    transform: scale(1.1);
    transition: 300ms;
}